AI BOOKING ASSISTANT.json
{
  "name": "AI BOOKING ASSISTANT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        80
      ],
      "id": "ada659c5-a121-49d7-af67-78efca901a70",
      "name": "Telegram Trigger",
      "webhookId": "3c4e33fa-0a0c-4d34-a356-f1e48da1c188",
      "credentials": {
        "telegramApi": {
          "id": "haWhC0kwrrHd5eD5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        80
      ],
      "id": "e7cc3a4a-006e-4022-8676-2588af0f1e64",
      "name": "Send a text message",
      "webhookId": "b40dddea-b89e-427d-bd8c-8328b807733b",
      "credentials": {
        "telegramApi": {
          "id": "haWhC0kwrrHd5eD5",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly and polite AI assistant for Zion's Nails salon. Your primary function is to book nail appointments through a conversational, step-by-step process.\nCORE RESPONSIBILITIES:\n\nCollect customer information systematically\nConfirm payment details\nSchedule appointments\nMaintain conversation memory\nCreate calendar events and store data when booking is complete\n\nCONVERSATION FLOW (Follow strictly - one question at a time):\n\nOpening: Greet customer warmly and introduce yourself as Zion's Nails booking assistant\nInformation Collection (Wait for each response):\n\nRequest full name\nRequest phone number\nRequest email address\n\n\nDesign Selection:\n\nIf customer wants to see samples, provide: https://drive.google.com/folder/example\nAsk them to select a design from samples\n\n\nPayment Information:\n\nState: \"The price for each design ranges between 25,000 to 45,000 naira\"\nProvide payment details:\n\nAccount Name: Zion's Nails\nBank: Opay\nAccount Number: 8088987122\n\n\nWait for payment confirmation\n\n\nScheduling:\n\nAsk for preferred appointment date and time\nVerify availability against existing calendar\nIf time unavailable, suggest alternatives\n\n\n\nMEMORY STRUCTURE:\nMaintain this data structure throughout conversation:\n{\n  \"name\": \"[Customer Full Name]\",\n  \"email\": \"[Customer Email]\", \n  \"phone\": \"[Customer Phone]\",\n  \"design_choice\": \"[Selected Design]\",\n  \"booking_date\": \"[YYYY-MM-DD format]\",\n  \"booking_time\": \"[HH:MM format]\",\n  \"has_paid\": \"[true/false]\"\n}\nCOMPLETION ACTIONS:\nWhen all information is collected and payment confirmed:\n\nCalendar Event Creation:\n\nSummary: \"Nail Appointment for [Customer Name]\"\nDescription: \"Design: [design_choice], Phone: [phone], Email: [email]\"\nStart time: Convert to Nigerian time (WAT) ISO 8601 format with +01:00\nDuration: 1 hour\nExample format: 2025-07-20T15:00:00+01:00\n\n\nData Storage:\n\nAppend row to Google Sheets with: Name, Phone, Email, Design, Date, Time, Payment Status\n\n\nEmail Confirmation:\n\nSend confirmation email with appointment details\nInclude date, time, design choice, location, and payment confirmation\n\n\n\nCOMMUNICATION GUIDELINES:\n\nAlways wait for customer response before proceeding\nMaintain warm, professional tone\nAsk only one question per message\nConfirm all details - never assume\nUse natural, conversational language\nHandle payment confirmation before scheduling\nVerify calendar availability before confirming appointments\n\nTIMEZONE HANDLING:\n\nConvert all times to Nigerian local time (WAT)\nUse ISO 8601 format with +01:00 offset\nNever use UTC (Z) format for local appointments\n\nERROR HANDLING:\n\nIf calendar time unavailable, offer alternatives\nIf payment not confirmed, wait before proceeding\nIf information missing, politely request again\nMaintain conversation flow despite interruptions\n\ncurrent date and time:\n{{ new Date().toString() }}",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -880,
        80
      ],
      "id": "60787cde-cbe6-4bdc-b901-d69b46f1316b",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "egbuleomoze@gmail.com",
          "mode": "list",
          "cachedResultName": "egbuleomoze@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -848,
        304
      ],
      "id": "bc28b341-0b8a-4fb2-9c00-74e0f558fb26",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vY4KwilTaDIMCj2s",
          "name": "GOOGLE CALENDAR AUTHENTIATION"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-fkDMau8num-ETAFkTm-sOdeoepRzlhKcOzy1sprU-s",
          "mode": "list",
          "cachedResultName": "ZION NAIL TECH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fkDMau8num-ETAFkTm-sOdeoepRzlhKcOzy1sprU-s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "BOOKINGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fkDMau8num-ETAFkTm-sOdeoepRzlhKcOzy1sprU-s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('EMAIL', ``, 'string') }}",
            "FULL NAME": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FULL_NAME', ``, 'string') }}",
            "PHONE NUMBER": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PHONE_NUMBER', ``, 'string') }}",
            "DESIGN CHOICE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DESIGN_CHOICE', ``, 'string') }}",
            "BOOKING DATE ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BOOKING_DATE_', ``, 'string') }}",
            "BOOKING TIME": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('BOOKING_TIME', ``, 'string') }}",
            "HAS_PAID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HAS_PAID', ``, 'string') }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "FULL NAME",
              "displayName": "FULL NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PHONE NUMBER",
              "displayName": "PHONE NUMBER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESIGN CHOICE",
              "displayName": "DESIGN CHOICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BOOKING DATE ",
              "displayName": "BOOKING DATE ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "BOOKING TIME",
              "displayName": "BOOKING TIME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HAS_PAID",
              "displayName": "HAS_PAID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -688,
        320
      ],
      "id": "9cc2bca1-1a5b-4a94-889f-767dfcbc0379",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cEHqptmpxQPcDBLL",
          "name": "GOOGLE SHEET AUTHENTIATION"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "Booking Confirmation - Zion's Nails",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -512,
        320
      ],
      "id": "959c5e62-5123-44d2-8608-e62e3f593e24",
      "name": "Send a message in Gmail",
      "webhookId": "50ae483e-aa34-4eb3-81ea-161e40c19a04",
      "credentials": {
        "gmailOAuth2": {
          "id": "GsQjKh3qmDWtXvDS",
          "name": "GMAIL AUTHENTICATION"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        352
      ],
      "id": "04427ec8-1824-4d56-9ecf-7f7184a4ca57",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "egbuleomoze@gmail.com",
          "mode": "list",
          "cachedResultName": "egbuleomoze@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "outputFormat": "availability",
          "timezone": {
            "__rl": true,
            "value": "Africa/Lagos",
            "mode": "list",
            "cachedResultName": "Africa/Lagos"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -320,
        304
      ],
      "id": "28b6b4cf-573a-47eb-9550-49aae8e5ad7c",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vY4KwilTaDIMCj2s",
          "name": "GOOGLE CALENDAR AUTHENTIATION"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1184,
        320
      ],
      "id": "970c7c3a-5a08-4902-a425-a464e05d3a4f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pcBxcEJFwqD5HIv3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "516bb851-6744-45be-9aea-c1ea39461820",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4a061c0dc45140e425bd20bb779f09b2349a4c1fcf4ec139a21eb2b39e71f69"
  },
  "id": "ZrEEBXznyky9s0zg",
  "tags": []
}