Certificate-Invoice Generation.blueprint.json
{
    "name": "Certificate/Invoice Generation",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 11542314,
                "mode": "select",
                "includesHeaders": true,
                "limit": 1,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "from": "share",
                "spreadsheetId": "/1f_fPqRa2ex4NzTk2GupCFXNjwvyvlqbKdFzRv4ZRv6M",
                "sheetId": "Sheet1",
                "tableFirstRow": "A1:Z1"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (godswillanthony94@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "from": {
                            "label": "Shared with me"
                        },
                        "spreadsheetId": {
                            "path": [
                                "SRN CERTIFICATE"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "FIRST NAME (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "LAST NAME (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "FULL NAME (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "EMAIL (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11542314
            },
            "mapper": {
                "select": "dropdown",
                "name": "CERTIFICATE",
                "destination": "drive",
                "from": "drive",
                "document": "/1m-EYJh3JOK9V0OV4r0gwu8pN4pjh3d5zo5k842Fqf3M",
                "requests": {
                    "Example Full Name": "{{1.`1`}}"
                },
                "folderId": "/1X6vhS3HEG064pkdtbf4e2kyNy8JTOp0C"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "Creates the Certificate"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (godswillanthony94@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By Dropdown"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "document": {
                            "path": [
                                "Bibliometric Analysis Certificate  "
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "SRN CERTIFICATE"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "Example Full Name",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-docs:exportADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11542314
            },
            "mapper": {
                "destination": "drive",
                "mimeType": "application/pdf",
                "document": "{{3.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Converts the Certificate to pdf"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (godswillanthony94@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "mimeType": {
                            "mode": "chose",
                            "label": "PDF Document (.pdf)"
                        },
                        "document": {
                            "mode": "edit",
                            "path": []
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/vnd.oasis.opendocument.text",
                                "application/rtf",
                                "application/pdf",
                                "text/plain",
                                "text/html",
                                "application/epub+zip"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 11543620
            },
            "mapper": {
                "from": "effiongfortuneb@gmail.com",
                "to": [
                    "{{1.`3`}}"
                ],
                "subject": "SRN CERTIFICATE",
                "html": "Dear {{1.`0`}}, <br><br>\r\n\nKindly find attached your certificate for the webinar\n\n<br><br>\r\n\r\n\r\nBest regards, <br><br>\r\nSystematic Review Networt (SRN)",
                "attachments": [
                    {
                        "fileName": "{{6.filename}}",
                        "data": "{{6.data}}",
                        "cid": ""
                    }
                ],
                "cc": [
                    "effiongfortuneb@gmail.com"
                ],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "Sends the Certificate"
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection (egbuleomoze@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "cc": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 12,
                        "module": "util:FunctionSleep",
                        "version": 1,
                        "parameters": {},
                        "mapper": {
                            "duration": "300"
                        },
                        "metadata": {
                            "designer": {
                                "x": 1615,
                                "y": -201,
                                "name": "Delay for 3days",
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {},
                            "expect": [
                                {
                                    "name": "duration",
                                    "type": "uinteger",
                                    "label": "Delay",
                                    "required": true,
                                    "validate": {
                                        "max": 300,
                                        "min": 1
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 13,
                        "module": "builtin:BasicRouter",
                        "version": 1,
                        "mapper": null,
                        "metadata": {
                            "designer": {
                                "x": 1500,
                                "y": 150
                            }
                        },
                        "routes": [
                            {
                                "flow": [
                                    {
                                        "id": 11,
                                        "module": "google-email:ActionSendEmail",
                                        "version": 2,
                                        "parameters": {
                                            "account": 11543620
                                        },
                                        "filter": {
                                            "name": "Payment Confirmation",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{1.`12`}}",
                                                        "b": "Paid",
                                                        "o": "text:equal"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "cc": [],
                                            "to": [
                                                "{{1.`2`}}"
                                            ],
                                            "bcc": [],
                                            "from": "",
                                            "html": "Dear {{1.`1`}}, <br><br>\n\nThank you patronizing us, your payment has been received.<br><br>\n\nBest regards\nSonia Paste Dev.",
                                            "subject": "Payment Confirmation for {{1.`0`}}",
                                            "attachments": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1800,
                                                "y": 0,
                                                "name": "Payment Confirmation",
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Google Sheets - Watch New Rows' [1] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "cc": {
                                                        "mode": "chose"
                                                    },
                                                    "to": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    },
                                                    "bcc": {
                                                        "mode": "chose"
                                                    },
                                                    "attachments": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": {
                                                    "account": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "google-restricted"
                                                        },
                                                        "label": "My Google Restricted connection (egbuleomoze@gmail.com)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "account",
                                                    "type": "account:google-restricted",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "from",
                                                    "type": "text",
                                                    "label": "From"
                                                },
                                                {
                                                    "name": "to",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address",
                                                        "required": true
                                                    },
                                                    "type": "array",
                                                    "label": "To",
                                                    "required": true
                                                },
                                                {
                                                    "name": "subject",
                                                    "type": "text",
                                                    "label": "Subject"
                                                },
                                                {
                                                    "name": "html",
                                                    "type": "text",
                                                    "label": "Content"
                                                },
                                                {
                                                    "name": "attachments",
                                                    "spec": [
                                                        {
                                                            "name": "fileName",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "required": true,
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "required": true,
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "cid",
                                                            "type": "text",
                                                            "label": "Content-ID"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Attachments"
                                                },
                                                {
                                                    "name": "cc",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address"
                                                    },
                                                    "type": "array",
                                                    "label": "Copy recipient"
                                                },
                                                {
                                                    "name": "bcc",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address"
                                                    },
                                                    "type": "array",
                                                    "label": "Blind copy recipient"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "flow": [
                                    {
                                        "id": 14,
                                        "module": "google-email:ActionSendEmail",
                                        "version": 2,
                                        "parameters": {
                                            "account": 11543620
                                        },
                                        "filter": {
                                            "name": "Payment Reminder",
                                            "conditions": [
                                                [
                                                    {
                                                        "a": "{{1.`12`}}",
                                                        "b": "Not paid",
                                                        "o": "text:equal"
                                                    }
                                                ]
                                            ]
                                        },
                                        "mapper": {
                                            "cc": [],
                                            "to": [
                                                "{{1.`2`}}"
                                            ],
                                            "bcc": [],
                                            "from": "",
                                            "html": "Dear {{1.`1`}}, <br><br>\n\nThank you for your patronage. This is  a reminder to please pay up for the goods that was purchased.<br><br>\n\nKindly check the previous email for your invoice and payment details attached.<br><br>\n\nBest regards, <br><br>\nSonia Paste Dev.",
                                            "subject": "Payment Reminder",
                                            "attachments": []
                                        },
                                        "metadata": {
                                            "designer": {
                                                "x": 1800,
                                                "y": 300,
                                                "name": "Payment Reminder",
                                                "messages": [
                                                    {
                                                        "category": "reference",
                                                        "severity": "warning",
                                                        "message": "Referenced module 'Google Sheets - Watch New Rows' [1] is not accessible."
                                                    }
                                                ]
                                            },
                                            "restore": {
                                                "expect": {
                                                    "cc": {
                                                        "mode": "chose"
                                                    },
                                                    "to": {
                                                        "mode": "chose",
                                                        "items": [
                                                            null
                                                        ]
                                                    },
                                                    "bcc": {
                                                        "mode": "chose"
                                                    },
                                                    "attachments": {
                                                        "mode": "chose"
                                                    }
                                                },
                                                "parameters": {
                                                    "account": {
                                                        "data": {
                                                            "scoped": "true",
                                                            "connection": "google-restricted"
                                                        },
                                                        "label": "My Google Restricted connection (egbuleomoze@gmail.com)"
                                                    }
                                                }
                                            },
                                            "parameters": [
                                                {
                                                    "name": "account",
                                                    "type": "account:google-restricted",
                                                    "label": "Connection",
                                                    "required": true
                                                }
                                            ],
                                            "expect": [
                                                {
                                                    "name": "from",
                                                    "type": "text",
                                                    "label": "From"
                                                },
                                                {
                                                    "name": "to",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address",
                                                        "required": true
                                                    },
                                                    "type": "array",
                                                    "label": "To",
                                                    "required": true
                                                },
                                                {
                                                    "name": "subject",
                                                    "type": "text",
                                                    "label": "Subject"
                                                },
                                                {
                                                    "name": "html",
                                                    "type": "text",
                                                    "label": "Content"
                                                },
                                                {
                                                    "name": "attachments",
                                                    "spec": [
                                                        {
                                                            "name": "fileName",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "required": true,
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "required": true,
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "cid",
                                                            "type": "text",
                                                            "label": "Content-ID"
                                                        }
                                                    ],
                                                    "type": "array",
                                                    "label": "Attachments"
                                                },
                                                {
                                                    "name": "cc",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address"
                                                    },
                                                    "type": "array",
                                                    "label": "Copy recipient"
                                                },
                                                {
                                                    "name": "bcc",
                                                    "spec": {
                                                        "name": "value",
                                                        "type": "email",
                                                        "label": "Email address"
                                                    },
                                                    "type": "array",
                                                    "label": "Blind copy recipient"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            }
                        ]
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}