PINECONE DATABASE.json
{
  "name": "PINECONE DATABASE",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        -96
      ],
      "id": "87f7e77e-0207-4c61-a477-5a609555c758",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1zxZ6j8Vq-mDSHDxqR_3kWziV4tCz_80a",
            "mode": "list",
            "cachedResultName": "DENTAL RAQ DOCUMENTS",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1zxZ6j8Vq-mDSHDxqR_3kWziV4tCz_80a"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        496,
        -96
      ],
      "id": "da37e7d8-f0a0-436c-bdf5-332b5544c346",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BU8IJM29kUJBO6do",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        -96
      ],
      "id": "3aa04512-4cca-4bc9-8e37-380acaa0ebc4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BU8IJM29kUJBO6do",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-dental",
          "mode": "list",
          "cachedResultName": "rag-dental"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        976,
        -96
      ],
      "id": "19663887-c1ba-42a9-a571-d538bdcb40ee",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "DssoxWAQea2KXin1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        944,
        128
      ],
      "id": "fbcdea38-0296-4cb4-bb48-f050f32ca0aa",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Gxmc8u5Uz63nr6H9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "File_name",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1120,
        128
      ],
      "id": "fe036098-9bce-4dea-88a4-4a560d442f5e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1152,
        336
      ],
      "id": "7d47c693-b9bc-440b-9906-54a9b62dd96f",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d863954-fa7c-4a6d-8327-c4b64d9c6d4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c818f7a4cb68b89517fe5d239eec0d61d8a8745b42226b59e67d62e32762ef8"
  },
  "id": "9UYfYscMHylcrMKx",
  "tags": []
}